@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#logo-img {
    width: 45px;
    height: 45px;
    float: left;
    margin: 15px;
}

/* Navigation links */
#nav {
    width: 100%;
}

#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Container holding hero image, text and call to action button */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    position: relative;
  }

#hero-cover-text {
    font-size: 280%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    background-color: rgba(241, 108, 107, 0.6);

    width: 820px;
    height: 80px;

    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translate(-50%, 0);
  }

#hero-cover-text h2{
    color: #fff;
    text-shadow: 1px 1px 4px #000000;
    transform: translate(0, -10%);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/home-hero-image.jpg") no-repeat center center;
    background-size: cover;
}

.tour-button-cta {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;

    font-size: 30%;
    text-decoration: none;
    text-align: center;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.tour-button-cta:hover{
    background-color: #fafafa;
    color: #f16c6b;
}

/* About Cappadocia region */

#about-cappadocia {
    height: 10%;
}

#discover-cappadocia {
    text-align: center;
    margin: 20px 0;
}

#about-discovery, #about-tours {
    font-size: 110%;
    width: 80%;
    margin: 0 auto 5%;
    line-height: 20px;
}

/* Guided Tours */

#tours {
    margin-bottom: 5%;
}

#guided-tours {
    text-align: center;
    margin: 20px 0;
}

.tours-flex-container {
    margin: 0 10%;
    text-align: center;
}

.tour-flex-element{
    flex-basis: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tours-flex-container ul {
    flex-grow: 1;
}

#tour-image{
    width: 80%;
    margin-left: 10%; 
}

#tours h3 {
    padding: 20px;
    font-size: 110%;
}

.tour-desc {
    padding-top: 10px;
    text-align: left;
    margin: 0 10% 5%;
}

.tour-desc li {
    margin: 0 5%;
}

.reservation-button-cta {
    width: fit-content;
    margin: 0 auto 50px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;

    font-size: 120%;
    text-decoration: none;
    text-align: center;
    background-color: #32CD32;
    color: #fafafa;
}

.reservation-button-cta:hover {
    background-color: #006400;
    color: #fafafa;
}

/* Footer */

#footer {
    background-color: #fff;
}

#footer strong {
    font-size: 120%;
}

.footer-contact {
    padding: 30px;
    height: 90px;
    text-align: center;
    flex: 1;
    order: 1;
    margin-top: 0;
    color: #fafafa;
    background-color: #3a3a3a;
}

.footer-contact a {
    text-decoration: none;
    color: #fafafa;
}

.footer-contact a:hover {
    text-decoration: none;
    color: black;
}
.social-networks {
    margin-top: 5px;
    text-align: center;
    padding: 30px;
    height: 90px;
    flex: 1;
    order: 3;
    color: #fafafa;
    background-color: #3a3a3a;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    text-align: center;
    margin: 30px;
    color: #fafafa;
}

.social-networks i:hover {
    font-size: 160%;
    color: black;
}

.copyright {
    margin-top: 5px;
    padding: 75px 0;
    text-align: center;
    flex: 1;
    order: 2;
    color: #fafafa;
    background-color: #3a3a3a;
}

/* Gallery Page */

#gallery-heading {
    width: 100%;
    margin: 0 auto 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background-color: #3a3a3a;
    color: #fff;
}
#gallery-heading h1 {
    color: #fff;
}

#gallery {
    width: 85%;
    margin: 0 auto 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images {
    width: 360px;
    height: 240px;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #3a3a3a;
}

/* Reservation Page */

.form-section {
    clear: left;
    background: url("../images/reservation-background.jpg") no-repeat #000000;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.reservation-form {
    margin: 5% 10% 0 0;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.reservation-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.form-section p {
    font-size: 80%;
    margin-right: 20px;
    text-align: right;
}
.form-row{
    margin: 15px 0;
    display: flex;
}

.form-row label {
    padding-right: 10px;
    flex: 1;
}

.form-row input {
    flex: 3;
}

.text-input {
    background: transparent;
    color: #fafafa;
    height: 25px;
    margin: 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #bababa;
}

.msg-input {
    height: 75px;
    margin-left: 0;
}

.radio {
    margin-right: 5px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.reserve-button {
    margin-right: 20px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #32CD32;
    color: #006400;
    float: right;
}

.reserve-button:hover {
    background-color: #006400;
    color: #32CD32;
}

#response-msg {
    color: #ff3a3a;
    font-size: 80%;
    margin-bottom: 10px;
    display: block;
} 

.reset-button {
    margin-right: 20px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #3a3a3a;
    color: #fff;
}

.reset-button:hover {
    background-color: #fff;
    color: #3a3a3a;
}

/* Media query */

@media (max-width: 1200px) {
    #hero-outer, #hero-image {
        height: 300px;
    }

    #hero-cover-text {
        font-size: 180%;
        width: 560px;
        height: 60px;
    }

    .tour-button-cta {
        font-size: 35%;
    }
}

@media (max-width: 600px) {
    #discover-cappadocia, #guided-tours {
        font-size:large;
    }
    
    #hero-outer, #hero-image {
        height: 200px;
    }

    #hero-cover-text {
        font-size: 100%;
        width: 350px;
        height: 30px;
    }

    .tour-button-cta {
        font-size: 50%;
    }
}

@media (max-width: 900px) {
    #nav {
        float: left;
        margin-left: 30px;
    }

    #menu {
        float: left;
        font-size: 100%;
        line-height: 35px;
    }
}

@media (min-width: 900px) {
    .tours-flex-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    #footer {
        height: 150px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-contact {
        text-align: left;
        margin: 0;
    }

    .social-networks {
        text-align: right;
        margin: 0;
    }

    .social-networks i {
        text-align: right;
        margin: 30px 0 30px 30px;
    }

    .copyright {
        margin: 0;
    }
}

@media (min-width: 600px) {
    .zoom-img {
        transition: transform .2s;
    }
    
    .zoom-img:hover {
        transform: scale(1.5);
      }
}

@media (max-width: 520px) {
    #logo {
        font-size: 200%;
        line-height: 60px;
        margin-left: 10px;
    }

    #logo-img {
        width: 35px;
        height: 35px;
        margin: 10px 5px 10px 5px;
    }

     #nav {
        margin-left: 10px;
     }

     #menu li {
        margin-right: 20px;
    }
}

